In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('aac_shelter_outcomes.csv')

In [3]:
df.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [4]:
df.describe()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
count,78248,78256,78256,78256,78256,78256,78256,78256,54370,35963,78244,78254
unique,46,70855,5,2128,525,5869,64361,64361,14574,19,9,5
top,1 year,A718223,Dog,Domestic Shorthair Mix,Black/White,2014-05-05T00:00:00,2016-04-18T00:00:00,2016-04-18T00:00:00,Bella,Partner,Adoption,Neutered Male
freq,14355,11,44242,23335,8153,112,39,39,344,19660,33112,27784

In [5]:
df['animal_type'].value_counts()

Dog          44242
Cat          29422
Other         4249
Bird           334
Livestock        9
Name: animal_type, dtype: int64

In [6]:
catsdogs = df[ (df['animal_type']!='Dog') & (df['animal_type']!='Cat')].index
df.drop(catsdogs, inplace=True)
df.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
5,4 months,A664462,Dog,Leonberger Mix,Brown/White,2013-06-03T00:00:00,2013-10-07T13:06:00,2013-10-07T13:06:00,*Edgar,Partner,Transfer,Intact Male

In [7]:
df['breed'].replace(' Mix','',inplace=True, regex=True)

In [8]:
df['age_upon_outcome'].value_counts()

1 year       12222
2 years      10408
2 months      9168
3 years       4905
3 months      3401
1 month       3313
4 years       2919
5 years       2657
4 months      2373
6 years       1802
5 months      1743
6 months      1568
8 years       1548
7 years       1531
3 weeks       1449
2 weeks       1283
10 months     1193
10 years      1157
8 months      1147
7 months       934
4 weeks        889
9 years        820
9 months       648
12 years       608
1 weeks        489
11 months      484
11 years       429
1 week         420
13 years       388
14 years       253
3 days         230
2 days         208
15 years       206
6 days         146
1 day          136
4 days         130
5 days         102
16 years       101
0 years         80
5 weeks         59
17 years        58
18 years        25
19 years        13
20 years        11
22 years         4
Name: age_upon_outcome, dtype: int64

In [9]:
df['outcome_type'].value_counts(normalize=True)

Adoption           0.445090
Transfer           0.310100
Return to Owner    0.194225
Euthanasia         0.040146
Died               0.007345
Rto-Adopt          0.002036
Missing            0.000611
Disposal           0.000448
Name: outcome_type, dtype: float64

In [10]:
df['outcome_subtype'].value_counts(normalize=True)

Partner                0.589813
Foster                 0.171307
SCRP                   0.099668
Suffering              0.061707
Snr                    0.019431
Aggressive             0.015675
Offsite                0.011298
In Kennel              0.009374
In Foster              0.005432
Rabies Risk            0.004532
Behavior               0.004408
Medical                0.003601
At Vet                 0.001738
Enroute                0.000590
Court/Investigation    0.000559
In Surgery             0.000466
Possible Theft         0.000279
Barn                   0.000093
Underage               0.000031
Name: outcome_subtype, dtype: float64

In [11]:
df.loc[df['outcome_type']=='Adoption']['animal_type'].value_counts()

Dog    20052
Cat    12732
Name: animal_type, dtype: int64

In [18]:
df['name'].value_counts()

Bella         342
Max           318
Luna          237
Rocky         235
Princess      234
             ...
Jack Frost      1
Eisa            1
Mosley          1
Lawny           1
Roc             1
Name: name, Length: 14387, dtype: int64